.form-container{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

    .form{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 40px;
        background-color: white;
        gap: 20px;
        animation: appearing 0.3s ease-in-out;
        height: 350px;
        width: 300px;

        .buttons-login-container {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 20px;
        }
    }

    .form-dismount{
        @extend .form;
        animation: disappearing 0.3s ease-in-out;
    }

}
@keyframes appearing {
    from {opacity: 0; transform: translate(0, -60px)};
    to {opacity: 1; transform: translate(0, 0px)};
}

@keyframes disappearing {
    from {opacity: 1; transform: translate(0, 0px)};
    to {opacity: 0; transform: translate(0, -60px)};
}