ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    position: relative;
}

li {
    float: left;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #ddd;
}

.buttons-container{
  position: absolute;
  right: 100px;
  top: 50%;
  transform: translate(0, -50%);
  display: flex;
  flex-direction: row;
  gap: 10px;
}
